@model UpdateUser

<form  asp-action="SaveUpdateUser" asp-controller="UserInSystem" method="post" class= "login-form" asp-route-id="@Model?.Id" >
   <section class = "contain">
       <p class="text-center text-danger">@ViewBag.ErroMessage</p>
        <div class="form-group">
            <label for="user">User Name</label>
            <input readonly type="text" class="form-control" id="user" placeholder="User Name" asp-for="Name">
            <span asp-validation-for = "Name" class="text-danger"></span>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input readonly type="email" class="form-control" id="email" placeholder="Email" asp-for="Email">
        <span asp-validation-for = "Email" class="text-danger"></span>
      </div>

      <div>
           <label for="password">Role</label>
            <select asp-for="Role" class="form-select">
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
      </div>
      

      <div >
        <button type = "submit" class = "btn btn-dark">Update User</button>
        <a asp-controller="UserInSystem" asp-action = "Index">Go Back</a>
      </div>
  </section>
</form>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<style >
 
    .login-form {
        width:min(400px, 97vw);
        margin-left:auto;
        margin-right:auto;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        height:91.6vh;
    }
    .contain {
        background-color:#222;
        padding:50px 70px   ;
        border-radius:18px;
        box-shadow: 0px 0px 18px 5px #212529;

    }
    .contain label {
        color:#fff;
        margin:7px 0px;
    }
    .contain div:nth-of-type(4) {
        margin-top:20px;
    }
    .contain div:nth-of-type(4) a {
        text-decoration:none;
        color:#fff;
    }
    .contain div:nth-of-type(4) a:hover {
        color:red;
        font-size:18px;
    }
    div input {
        width:min(350px, 94vw) !important;
    }
</style>




